<!--<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            {%- if site.copyright -%}
            <li>&copy; {{ 'now' | date: "%Y" }} {{ site.copyright }}</li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>-->

<footer class="ugafooter">
  <div class="ugafooter__container">
    <div class="ugafooter__row ugafooter__row--primary">                    
      <div class="ugafooter__logo">
         <a class="ugafooter__logo-link" href="{{ "/" | relative_url }}">University of Georgia</a>
      </div>
      <nav class="ugafooter__links">
        <ul class="ugafooter__links-list">
          <li class="ugafooter__links-list-item">
            <a class="ugafooter__links-list-link" href="/about/">About Us</a>
          </li>
          <li class="ugafooter__links-list-item">
            <a class="ugafooter__links-list-link" href="/feed/blog">Certificate</a>
          </li>
          <li class="ugafooter__links-list-item">
            <a class="ugafooter__links-list-link" href="/blog-announcements/">Announcements</a>
          </li>                             
          <li class="ugafooter__links-list-item">
            <a class="ugafooter__links-list-link" href="https://mc.uga.edu/policy/trademark">Copyright and Trademarks</a>
          </li>
          <li class="ugafooter__links-list-item">
            <a class="ugafooter__links-list-link" href="https://eits.uga.edu/access_and_security/infosec/pols_regs/policies/privacy/">Privacy</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="ugafooter__row ugafooter__row--secondary">
      <nav class="ugafooter__social">
        <span class="ugafooter__social-label">#UGA on</span>
        <a class="ugafooter__social-link" aria-label="UGA on Facebook" href="https://www.facebook.com/universityofga/">
          <i class="fab fa-fw fa-facebook-f" title="Facebook" aria-hidden></i>
        </a>
        <a class="ugafooter__social-link" aria-label="UGA on Twitter" href="https://twitter.com/universityofga">
          <i class="fab fa-fw fa-twitter" title="Twitter" aria-hidden></i>
        </a>
        <a class="ugafooter__social-link" aria-label="UGA on Instagram" href="https://www.instagram.com/universityofga/">
          <i class="fab fa-fw fa-instagram" title="Instagram" aria-hidden></i>
        </a>
        <a class="ugafooter__social-link" aria-label="UGA on Snapchat" href="https://www.snapchat.com/add/university-ga">
          <i class="fab fa-fw fa-snapchat-ghost" title="Snapchat" aria-hidden></i>
        </a>
        <a class="ugafooter__social-link" aria-label="UGA on YouTube" href="https://www.youtube.com/user/UniversityOfGeorgia">
          <i class="fab fa-fw fa-youtube" title="YouTube" aria-hidden></i>
        </a>
        <a class="ugafooter__social-link" aria-label="UGA on LinkedIn" href="https://www.linkedin.com/school/university-of-georgia/">
          <i class="fab fa-fw fa-linkedin-in" title="LinkedIn" aria-hidden></i>
        </a>
      </nav>
      <div class="ugafooter__address">
        &copy; University of Georgia, Athens, GA 30602<br>
        706&#8209;542&#8209;3000
      </div>
    </div>
  </div>
</footer>
<script src="{{ "/assets/js/uga-footer.js" | relative_url }}"></script>

<script defer src="https://use.fontawesome.com/releases/v5.7.0/js/solid.js" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.0/js/brands.js" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.0/js/fontawesome.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ "/assets/js/uga-header.js" | relative_url }}"></script>